<button type="button" onclick="toggleHelpSidebar(true)"
        class="btn btn-ghost gap-2 tooltip tooltip-bottom tooltip-mobile"
        data-tip="Help">
    <icon name="question-mark-circle" size="5" />
    <span class="hidden sm:inline">Help</span>
</button>
